@page "{id}"
@model Assignment3.Pages.Albums.IndexModel
@{
    ViewData["Title"] = "Albums";
}

<div class="content">
    <h1 class="headers">@Model.Album.Title</h1>

    <h2 class="headers">Add Song on @Model.Album.Title</h2>
    <div>
        <form method="post" asp-page-handler="Add">

            <label asp-for="Song.Title"></label>
            <input asp-for="Song.Title">
            <span asp-validation-for="Song.Title"></span>
            <button type="submit">Add</button>

        </form>

        <form method="post" asp-page-handler="Delete">
            <button type="submit">Delete</button>
        </form>
    </div>
    
    <div>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <label class="alert">@Model.Message</label><br />
        }

        <table>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td><a class="artists-link" asp-page="/Songs/Index" asp-route-id="@song.ID">@song.Title</a></td>
                    <td><form method="post"><button type="submit" asp-route-id="@song.ID">➕</button></form></td>
                </tr>
            }
        </table>
    </div>
    <a class="artists-link back" asp-page="/Artists/Index">Back</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}